<%= render "layouts/doctor_header", title: "Todas las Consultas", submenu: :consultation%>
<div class="container main-content">
  <table class="table">
    <thead>
      <tr>
        <% week_view.current_week.each do |week_day| %>
          <th>
            <span><%= "#{week_day.name}"%> </br> <%= "#{week_day.day.mday} #{week_day.month}" %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        
      </tr>
    </tbody>
  </table>
</div>
