<%= render "layouts/doctor_header", title: "Editar Paciente", submenu: :patient %>
<div class="container">
  <br>
  <h2>
    Editar
    <small class="text-muted"><%= "#{form.name} #{form.last_name}" %></small>
  </h2>
  <br>
  <div class="row">
    <div class="col-6">
      <%= render "form", form: form, url: doctor_patient_path(patien_id), method: :patch %>
    </div>
  </div>
</div>
