<%= render "layouts/doctor_header", title: "Nuevo Paciente", submenu: :patient %>
<div class="container">
  <br>
  <h2>
    Nuevo Paciente
  </h2>
  <br>
  <div class="row">
    <div class="col-6">
      <%= render "form", form: form, url: doctor_patients_path, method: :post %>
    </div>
  </div>
</div>
